    body{
        background-color: rgb(248, 240, 229);
    }
    h1{
    font-size: 30px;
    color: hotpink;
    }

    h2{
    color: red;
    font-size: 20px;
    }

    h2{
    color: green;
    }

    .big{
    font-size: 60px;
    }

    .uppercase{
    text-transform: uppercase;
    }

    .big.uppercase{
    color:blue;
    }

    h1 span{
    color: violet;
    }